.miNombre{
    font: 20px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

.miParrafo{
    font: 12px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

.miNuevoDIV{
    margin: 0 auto;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.resaltar{
    color: red;
    font-weight: bold;
}