.miNombre{
    font-weight: bold;
    text-align: center;
}

.miParrafo{
    font-size: 20px; 
    font-weight: normal;
    text-align: justify;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 70%;
    border: 1px solid white;
    border-radius: 5px;
    color: gray;
    background-color: white;
}

.resaltar{
    color: red;
    font-weight: bold;
}

.cabecera{
    font-size: 2em;
    background-color:darkslateblue;
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0,5);
    font-weight: bold;
    display: flex;
    padding: 10px;
}

.cabecera span{
  padding: 0 0 0 1em;
  font-weight: normal;
}

.imagen{
    width: 37px;
    height: 37px;
    padding-right: 0.8em;
}

.miNuevoDIV{
    padding: 20px;
}

body{
    background-color: black;
}

.footer{
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;  
    font-family: sans-serif;
}

.equipo{
    text-align: center;
}